<div class="container_app-header">
<app-header
  title="Lorem ipsum dolor sit amet"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecen"
></app-header>
</div>

<div class="container_app-body">
<app-body
  backgroundColor="#FF6363;"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>
<app-body
  backgroundColor="#63ECFF"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>
<app-body
  backgroundColor="#F363FF"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>

<app-body
  backgroundColor="#63FF73"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>
<app-body
  backgroundColor="#FFDD63"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>
<app-body
  backgroundColor="#6663FF"
  titleBody="Título do card"
  textBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in neque et nisl."
></app-body>
</div>
<app-footer></app-footer>

